html, body {
	padding: 0;
	margin: 0;
	height: auto;
	background-color: #ccccff;
}

}
a
{
	text-decoration: none;
}
p
{
	color: black;
	text-align: left;
	font-size: 1em;
	margin: 0px;
}
#body
{

	float:top;
    width:79%;
	margin-left: 20%;
    background-color: #ccccff;
	height:430px;
	padding:5px;
	

	
}

ul.menu {

	
    width:350px;
    float:left;
    padding:0px; 
	margin: 0;
	
	
}
ul {

    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #aaaaff;
}

li {
    float: left;
	padding: 0;
	margin: 0;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #eeeeff;
}
#nav {
    line-height:30px;
    background-color:#eeeeff;
    height:430px;
    width:19%;
    float:left;
    padding:5px; 
	margin-bottom:0px;

}
